@import url(http://nicholastodor.com/sf/usesf.css);
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);*/

body {
  padding-top: 50px;
  font-family: 'San Francisco Display', sans-serif !important;
  /*font-family: 'Roboto Condensed', sans-serif !important;*/
}

.category-panel {
	color: white;
	background-repeat: no-repeat;
	background-image: url('http://placehold.it/100/333333/333333');
  background-size: 100% 100%;
  cursor: pointer;
}

.category-panel-name {
	font-size: 1.4em;
	font-weight: bold;
}

.category-panel-info {
	font-size: 0.9em;
}